*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
}
/*Menu*/
  .wrapper{
    background: #171c24;
    position: fixed;
    width: 100%;
}
.wrapper nav{
    position: relative;
    display: flex;
    max-width: calc(100% - 200px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
}
  nav .content{
    display: flex;
    align-items: center;
}
nav .content .links{
    margin-left: 80px;
    display: flex;
}
.content .logo a{
    color: #fff;
    font-size: 30px;
    font-weight: 600;
}
.content .links li{
    list-style: none;
    line-height: 70px;
}
.content .links li a,
.content .links li label{
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
}
.content .links li label{
    display: none;
}
.content .links li a:hover,
.content .links li label:hover{
    background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
}
.wrapper .menu-icon{
    display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
    content: "\f00d";
}
  
.wrapper .search-box{
    position: absolute;
    height: 100%;
    max-width: calc(100% - 50px);
    width: 100%;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
    opacity: 1;
    pointer-events: auto;
}
.search-box input{
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 17px;
    color: #fff;
    background: #171c24;
    padding: 0 100px 0 15px;
}
.search-box input::placeholder{
    color: #f2f2f2;
}
.search-box .go-icon{
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    line-height: 60px;
    width: 70px;
    background: #171c24;
    border: none;
    outline: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
}
.wrapper input[type="checkbox"]{
    display: none;
}
  
/* Dropdown Menu code start */
.content .links ul{
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
}
.content .links li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
}
.content .links ul li a{
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
}
.content .links ul ul{
    position: absolute;
    top: 0;
    right: calc(-100% + 8px);
}
.content .links ul li{
    position: relative;
}
.content .links ul li:hover ul{
    top: 0;
}
#contato {
    float: right;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: max-content;
    height: max-content;
    max-width: 100vw;
    max-height: 100vh;
    margin-top: 100px;
    margin-right: 300px;
}
#contato p {
    float: right;
    font-family:'Courier New', Courier, monospace;
    font-size: 20px;
    text-align: center;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
}
#contato img {
    width: 40px;
    height: 40px;
}
.logo img {
    width: 50px;
}
main {
    overflow-x: hidden;
    width: 100%;
}
/* Camisas  */
h1 {
    text-align: center;
}
h3 {
    text-align: center;
    top: 200px;
    font-size: 24px;
    text-transform: inherit;
    color: white;
    font-family: poppins;
}
#preco {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    float: right;
    width: max-content;
    height: max-content;
    margin-top: 300px;
    margin-right: 500px;
    margin-bottom: 18px;
    padding: 5%;
    box-shadow: 0.5px 0.5px 0.5px 0.5px black;
    border-radius: 5px;
}
#preco label {
    padding: 10px;
    font-family: poppins;
    font-size: 30px;
    font-weight: bold;
}
#preco input {
    text-align: center;
}
#preco img {
    width: 150px;
}
p,b {
    float: right;
    text-align: center;
    font-size: 15px;
    font-family: poppins;
}
button {
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100%;
    border-radius: 4px;
    margin-top: 20px;
    margin-left: 2px;
    background-color: transparent;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid rgb(128, 0, 128);
    color: rgb(128, 0, 128);
    padding: 10px;
}

#compartilhar img {
    padding: 10px;
    width: 2em;
    margin-left: 2.8em;
}
#compartilhar h2 {
    font-size: 25px;
    padding: 10px;
}
footer {
    font-family: cursive;
    background-color: gray;
    display: flex;
    justify-content: space-around;
    margin-top: 110px;
    text-align: center;
    max-width: 100vw;
    max-height: 100vh;
}
footer p {
    font-size: large;
    text-align: center;
}
footer h6 {
    font-size:large;
    text-align: left;
    margin-left: 15px;
    margin-top: -190px;
}
#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#logo p {
    text-indent: 2%;
}
.divisao {
    border: 1px ridge black;
    width: 5px;
}
footer img {
    width: 40px;
    display: flex;
}
.imagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imagem p {
    text-indent: 2%;
}
.rede-social {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 100vw;
    width: max-content;
    max-height: 100vh;
    height: max-content;
    margin-top: 200px;
    text-align: center;
}
#endereco h6 {
    text-align: center;
}
footer .contato {
    margin-top: 50px;
    text-align: center;
}
#email p {
    text-align: center;
}
/* Responsive code start */
@media screen and (max-width: 1250px){
    .wrapper nav{
      max-width: 100%;
      padding: 0 20px;
    }
    nav .content .links{
      margin-left: 30px;
    }
    .content .links li a{
      padding: 8px 13px;
    }
    .wrapper .search-box{
      max-width: calc(100% - 100px);
    }
    .wrapper .search-box input{
      padding: 0 100px 0 15px;
    }
    .logo {
        width: max-content;
        margin-left: 50px;
    }
    footer {
        width: 1050px;
    }
    #preco {
        margin-top: 20px; 
    }
}
@media screen and (max-width: 900px) {
    .wrapper .menu-icon{
        display: block;
    }
    .wrapper #show-menu:checked ~ .menu-icon i::before{
        content: "\f00d";
    }
    nav .content .links{
        display: block;
        position: fixed;
        background: #14181f;
        height: 100%;
        width: 100%;
        top: 70px;
        left: -100%;
        margin-left: 0;
        max-width: 350px;
        overflow-y: auto;
        padding-bottom: 100px;
        transition: all 0.3s ease;
    }
    nav #show-menu:checked ~ .content .links{
        left: 0%;
    }
    .content .links li{
        margin: 15px 20px;
    }
    .content .links li a,
    .content .links li label{
        line-height: 40px;
        font-size: 20px;
        display: block;
        padding: 8px 18px;
        cursor: pointer;
    }
    .content .links li a.desktop-link{
        display: none;
    }
    
    /* dropdown responsive code start */
    .content .links ul,
    .content .links ul ul{
        position: static;
        opacity: 1;
        visibility: visible;
        background: none;
        max-height: 0px;
        overflow: hidden;
    }
    .content .links #show-features:checked ~ ul,
    .content .links #show-services:checked ~ ul,
    .content .links #show-items:checked ~ ul{
        max-height: 100vh;
    }
    .content .links ul li{
        margin: 7px 20px;
    }
    .content .links ul li a{
        font-size: 18px;
        line-height: 30px;
        border-radius: 5px!important;
    }
    main {
        width: max-content;
        height: max-content;
    }
    #contato img {
        width: 20px;
        height: 20px;
    }
    #contato p {
        font-size: 14px;
    }
    main {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    #preco,#contato {
        margin-right: 2px;
    }
    #preco img {
        width: 50px;
    }
    #preco h1, label{
        font-family: 'Times New Roman', sans-serif;
        font-size: 14px;
    }
    #compartilhar img {
        width: 40px;
    }
    footer {
        width: 900px;
    }
}
@media screen and (max-width: 768px) {
    .wrapper nav{
        padding: 0 10px;
    }
    .content .logo a{
        font-size: 27px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input{
        padding-right: 30px;
    }
    main {
        flex-direction: row;
    }
    #contato p {
        font-family: 'Times New Roman', sans-serif;
        font-size: 15px;
    }
    #contato img {
        width: 40px;
        height: 40px;
        margin-left: 10px;
    }
    #contato {
        width: max-content;
    }
    footer {
        width: 1200px;
        background-color: gray;
    }
    .avanco {
        margin-left: 220px;
    }
}
@media screen and (max-width: 425px) {
    .wrapper nav{
        padding: 0 10px;
    }
    .content .logo a{
        font-size: 27px;
    }
    .wrapper .search-box{
        max-width: calc(100% - 70px);
    }
    .wrapper .search-box .go-icon{
        width: 30px;
        right: 0;
    }
    .wrapper .search-box input{
        padding-right: 30px;
    }
    .conjunto, .conjunto2, .bol{
        margin-left: -300px;
    }
    .conjunto2,.bol {
        width: 100px;
        margin-left: -350px;
    }
    footer {
        width: 500px;
    }
    .avanco {
        margin-left: 220px;
    }
    #contato p {
        font-family: 'Times New Roman', sans-serif;
        font-size: 10px;
    }
    #contato img {
        width: 20px;
        height: 20px;
        margin-left: 10px;
    }
    #preco {
        margin-top: 100px;
    }
    #preco label, #compartilhar h2, #preco b {
        font-size: 15px;
        text-align: center;
    }
    #preco input {
        width: 50px;
    }
    button {
        width: 100px;
    }
    footer p, footer h6, footer h5 {
        font-size: 15px;
    }
}